.experience {
  &__container {
    max-width: 1360px;

    @include big-desktop {
      max-width: 1080px;
    }

    @include mobile {
     padding: 0 10px;
    }

  }
  &__tabs {
    display: flex;
    @include mobile {
      display: block;
    }
  }

}
