.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__container {
    position: relative;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;

    @include big-desktop {
      max-width: 1320px;
    }

    @include tablet {
      max-width: 990px;
    }

    @include small-tablet {
      flex-direction: column-reverse;
      align-items: flex-start;
      max-width: 736px;
    }

    @include mobile {
      padding-top: 15px;
      flex-direction: column-reverse;
    }
  }

  &__logo-wrapper {
    @include mobile {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    margin-right: 4px;

    @include small-tablet {
      position: absolute;
      top: 90px;
      left: 23px;
    }

    @include mobile {
      position: static;
      img {
        width: 70px;
        height: 32px;
      }
    }
  }

  &__right {
    @include mobile {
      width: 100%;
    }
  }

  &__right-info {
    @include mobile {
      display: block;
    }
  }
}

.right-info {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 16px;

  @include small-tablet {
    margin-bottom: 100px;
  }

  @include mobile {
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__language-list {
    display: flex;
    position: relative;
    margin-right: 18px;

    &::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: 7px;
      right: -12px;
      background-color: var(--color-separator);
    }

    @include mobile {
      &::after {
        display: none;
      }
    }
  }

  &__language-link {
    padding: 5px 7px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-light);
    border-radius: 8px;
    transition: ease-in-out 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
    }

    &--active {
      background: var(--color-accent);
      border-radius: 8px;
      transition: ease-in-out 0.3s;
    }

    &--light {
      color: var(--color-text);

      &:hover {
        background: var(--color-bg);
        border-radius: 8px;
      }

      &--active {
        background: var(--color-accent);
        border-radius: 8px;
        color: var(--color-light);
        transition: ease-in-out 0.3s;

        &:hover {
          background: var(--color-bg);
          color: var(--color-text);
          border-radius: 8px;
        }
      }
    }
  }

  &__address {
    @include mobile {
      display: none;
    }
  }

  &__tel {
    color: var(--color-text);
  }

  &__social {
    svg {
      width: 24px;
      height: 24px;
      fill: var(--color-text);
      cursor: pointer;
      transition: ease-in-out 0.3s;

      &:hover {
        fill: var(--color-accent);
      }
    }

    &--light {
      svg {
        fill: var(--color-light);
      }
    }

    @include mobile {
      display: none;
    }
    &--light {
      fill: var(--color-light);
    }
  }

}

.decor {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 135px;
    background-image: url("../img/slash.png");
    width: 21px;
    height: 47px;
  }

  &__text {
    display: inline-block;
    margin-left: 20px;
    font-size: 36px;
    line-height: 44px;
    color: var(--color-light);
    &--light {
      color: var(--color-main);
    }
  }

  @include small-tablet {
    position: absolute;
  }

  @include mobile {
    position: static;
    &::after {
      top: 48px;
      left: 80px;
      width: 21px;
      height: 26px;
    }
    &__text {
      margin-left: 10px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
    }
  }
}

.decor--light {
  &::after {
    content: "";
    position: absolute;
    top: 46px;
    left: 148px;
    background-image: url("../img/slash.png");
    width: 21px;
    height: 47px;
  }

  @include small-tablet {
    position: absolute;
    &::after {
      top: 0;
    left: 132px;
    }
  }
  @include mobile {
    position: static;
    &::after {
      top: 47px;
      left: 79px;
      width: 21px;
      height: 26px;
    }
  }
}
