.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  &__container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__right {
    width: 100%;
  }

  &__right-info {
    justify-content: end;
  }
}

.right-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &__language-list {
    position: relative;
    margin-right: 18px;

    &::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: 6px;
      right: -12px;
      background-color: var(--color-separator);
    }
  }

  &__language-link {
    padding: 5px 7px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-light);
    border-radius: 8px;
    transition: ease-in-out 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
    }

    &--active {
      background: var(--color-accent);
      border-radius: 8px;
      transition: ease-in-out 0.3s;
    }
  }

  &__address {

  }

  &__tel {

  }

  &__social {
    width: 24px;
    height: 24px;
    fill: var(--color-light);
    cursor: pointer;
    transition: ease-in-out 0.3s;

    &:hover {
      fill: var(--color-accent);
    }
  }
}
