.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  &__container {
    position: relative;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    @include big-desktop {
      max-width: 1320px;
    }
    @include small-tablet {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__logo {
    margin-right: 4px;
    @include small-tablet {
      position: absolute;
      top: 90px;
      left: 23px;
    }
  }

  &__right {
  }

  &__right-info {
    justify-content: end;
  }
}

.right-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  @include small-tablet {
    margin-bottom: 100px;
  }
  &__language-list {
    position: relative;
    margin-right: 18px;

    &::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: 6px;
      right: -12px;
      background-color: var(--color-separator);
    }
  }

  &__language-link {
    padding: 5px 7px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-light);
    border-radius: 8px;
    transition: ease-in-out 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
    }

    &--active {
      background: var(--color-accent);
      border-radius: 8px;
      transition: ease-in-out 0.3s;
    }
    &--light {
      color: var(--color-text);
      &:hover {
        background: var(--color-bg);
        border-radius: 8px;
      }

      &--active {
        background: var(--color-accent);
        border-radius: 8px;
        color: var(--color-light);
        transition: ease-in-out 0.3s;
        &:hover {
          background: var(--color-bg);
          color: var(--color-text);
          border-radius: 8px;
        }
      }
    }

  }

  &__address {
    color: var(--color-text);
  }

  &__tel {
    color: var(--color-text);
  }

  &__social {
    width: 24px;
    height: 24px;
    fill: var(--color-text);
    cursor: pointer;
    transition: ease-in-out 0.3s;
    &:hover {
      fill: var(--color-accent);
    }
    &--light {
      fill: var(--color-light);
    }
  }

}

.decor {
  position: relative;
  @include small-tablet {
    position: absolute;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 135px;
    background-image: url("../img/slash.png");
    width: 21px;
    height: 47px;
  }
  &__text {
    display: inline-block;
    margin-left: 20px;
    font-size: 36px;
    line-height: 44px;
    color: var(--color-light);
    &--light {
      color: var(--color-main);
    }
  }
}

.decor--light {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 135px;
    background-image: url("../img/slash.png");
    width: 21px;
    height: 47px;
  }
  @include small-tablet {
    position: absolute;
  }
}
