.header-light {
  position: static;
  margin-bottom: 60px;
}

.right-info {
  &__language-link {
    &--light {
      color: var(--color-text);
      &:hover {
        background: var(--color-bg);
        border-radius: 8px;
      }

      &--active {
        background: var(--color-accent);
        border-radius: 8px;
        color: var(--color-light);
        transition: ease-in-out 0.3s;
        &:hover {
          background: var(--color-bg);
          color: var(--color-text);
          border-radius: 8px;
        }
      }
    }
  }

  &__address {
    color: var(--color-text);
  }

  &__tel {
    color: var(--color-text);
  }

  &__social {
    width: 24px;
    height: 24px;
    fill: var(--color-text);
    cursor: pointer;
    transition: ease-in-out 0.3s;

    &:hover {
      fill: var(--color-accent);
    }
  }
}

.decor--light {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 135px;
    background-image: url("../img/slash.png");
    width: 21px;
    height: 47px;
  }
}
