.publications-section {
  background: var(--color-bg);
  &__container {
    margin-top: 170px;
    padding: 30px 15px 10px;
    @include big-desktop {
      margin-bottom: 0;
    }

    @include tablet {
      margin-top: 150px;
    }

    @include small-tablet {
      margin-top: 230px;
      max-width: 648px;
    }

    @include mobile {
      margin-top: 80px;
      margin-bottom: 0;
    }
  }

  &__breadcrumbs {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__info {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      .card {
        grid-column: 1 / 1;
      }
      .small-left {
        grid-column: 1 / 1;
      }
      .small-right {
        grid-column: 1 / 1;
      }
    }
  }

  &__btn {
    margin-bottom: 60px;
    text-align: center;
  }

  &__filter {
    margin: 0 auto 30px;
  }
}

.filter {
  width: 225px;
  padding: 2px;
  background: var(--color-separator);
  border-radius: 12px;
  &__btn {
    padding: 8px 30px 10px;
    font-weight: 700;
    line-height: 20px;
    color: var(--color-main);
    border-radius: 10px;
    &--active {
      background: var(--color-light);
    }
  }
}
