.tabs {
  &__nav {
    margin-right: 60px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 375px;

    @include big-desktop {
      margin-top: 0;
      margin-bottom: 0;
    }
    @include small-tablet {
      margin-right: 20px;
    }
    @include mobile {
      margin-right: 0;
      max-width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__nav-item {
    @include mb(30px);
    @include mobile {
      @include mr(15px);
     margin-bottom: 30px;

    }
  }

  &__nav-btn {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: var(--color-text);
    transition: 0.3s;
    text-align: end;
    &:hover {
      color: var(--color-accent);
    }
    &:focus {
      color: var(--color-text);
      background-color: transparent;
    }
    &--active {
      background-image: var(--color-garient-red-text);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @include small-tablet {
      font-size: 30px;
      line-height: 1;
    }
    @include mobile {
      font-size: 18px;
    }
  }

  &__content {
    position: relative;
    max-width: 860px;
    margin-left: 60px;
    ::before {
      position: absolute;
      content: "";
      top: 0;
      left: -60px;
      width: 4px;
      height: 100%;
      background-color: var(--color-light);
      opacity: 0.3;
    }
    @include big-desktop {
      max-width: 580px;
    }
    @include tablet {
      max-width: 450px;
    }
    @include small-tablet {
      max-width: 350px;
      ::before {
        position: absolute;
        content: "";
        top: 0;
        left: -40px;
        width: 4px;
        height: 100%;
        background-color: var(--color-light);
        opacity: 0.3;
      }
    }
  }

  &__panel {
  }

  &__panel-title {
    padding-top: 73px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: var(--color-light);
    @include big-desktop {
      padding-top: 43px;
    }
    @include small-tablet {
      padding-top: 0;
    }
  }

  &__panel-text {
    margin-bottom: 73px;
    font-size: 19px;
    line-height: 30px;
    color: var(--color-light);
    @include big-desktop {
      margin-bottom: 0;
    }
  }
}
