.team-entry {
  &__container {
    max-width: 1360px;
    margin-top: 170px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      margin-top: 230px;
      margin-bottom: 30px;
    }

    @include mobile {
      margin-top: 100px;
      flex-direction: column-reverse;
    }
  }

  &__left {
    margin-right: 60px;
    flex: 0 1 100%;
    max-width: 500px;

    @include mobile {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__right {
    flex: 0 1 100%;
  }

  &--small {
    display: block;
  }
}

.left {
  &__team-entry {
  }

  &__image {
    img {
      height: 100%;
      width: auto;
      border-radius: 12px;
      object-fit: cover;
    }
  }
}

.right {
  &__team-entry {
  }

  &__employee-name {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid var(--color-separator);

    @include tablet {
      border-bottom: none;
    }

    @include mobile {
      padding-bottom: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 30px;
    background-image: var(--color-garient-red-text);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__list-employee {
    display: flex;

    @include tablet {
      display: block;
    }
  }

  &__item-employee {
    @include mr(26px);
    position: relative;
    span {
      font-size: 14px;
      line-height: 22px;
      color: var(--color-text);
    }
    &:not(:last-child):after {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      top: 8px;
      right: -16px;
      background-color: var(--color-separator);
    }
    @include tablet {
      @include mr(0px);
      @include mb(10px);
    }
  }

  &__link-employee {
    line-height: 20px;
    color: var(--color-active-regular);
    transition: color 0.3s;
      &:hover {
        color: var(--color-accent);
      }

  }

  &__employee-descr {

    @include small-tablet {
      display: none;
    }

    @include mobile {
      display: block;
    }

    &--small {
      display: none;

      @include small-tablet {
        padding-top: 10px;
        display: block;
        max-width: 100%;
        border-top: 4px solid var(--color-separator);
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__text-list {
    margin-bottom: 30px;
  }

  &__text-item {
    @include mb(30px);
    line-height: 26px;
    color: var(--color-dark);
  }

  &__employee-education {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: var(--title-h3Caps-fz);
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-main);
  }

  &__employee-experience {
    line-height: 26px;
    color: var(--color-dark);
  }
}
