<section class="clients section-offset">
  <div class="container clients__container">
    <h2 class="clients__title centered">They already trust us</h2>
    <ul class="clients__list list-reset">
      <li class="clients__item clients__item--hillel">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/hillel.avif" type="image/avif">
            <source srcset="img/hillel.webp" type="image/webp">
            <img loading="lazy" src="img/hillel.png" width="217" alt="Hillel">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--wannabiz">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/wannabiz.avif" type="image/avif">
            <source srcset="img/wannabiz.webp" type="image/webp">
            <img loading="lazy" src="img/wannabiz.png" width="199" alt="Wannabiz">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--tapgerine">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/tapgerine.avif" type="image/avif">
            <source srcset="img/tapgerine.webp" type="image/webp">
            <img loading="lazy" src="img/tapgerine.png" width="179" alt="Tapgerine">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--3dlook">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/3dlook.avif" type="image/avif">
            <source srcset="img/3dlook.webp" type="image/webp">
            <img loading="lazy" src="img/3dlook.png" width="180" alt="3dlook">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--orangear">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/orangear.avif" type="image/avif">
            <source srcset="img/orangear.webp" type="image/webp">
            <img loading="lazy" src="img/orangear.png" width="174" alt="Orangear">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--adtelligent">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/adtelligent.avif" type="image/avif">
            <source srcset="img/adtelligent.webp" type="image/webp">
            <img loading="lazy" src="img/adtelligent.png" width="223" alt="Adtelligent">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--clickky">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/clickky.avif" type="image/avif">
            <source srcset="img/clickky.webp" type="image/webp">
            <img loading="lazy" src="img/clickky.png" width="138" alt="Clickky">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--eco-leasing">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/eco-leasing.avif" type="image/avif">
            <source srcset="img/eco-leasing.webp" type="image/webp">
            <img loading="lazy" src="img/eco-leasing.png" width="146" alt="Eco-leasing">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--infratek">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/infratek.avif" type="image/avif">
            <source srcset="img/infratek.webp" type="image/webp">
            <img loading="lazy" src="img/infratek.png" width="182" alt="Infratek">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--city-par">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/city-par.avif" type="image/avif">
            <source srcset="img/city-par.webp" type="image/webp">
            <img loading="lazy" src="img/city-par.png" width="181" alt="City-par">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--artprint">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/artprint.avif" type="image/avif">
            <source srcset="img/artprint.webp" type="image/webp">
            <img loading="lazy" src="img/artprint.png" width="189" alt="Artprint">
          </picture>
        </a>
      </li>
      <li class="clients__item clients__item--ultimatecard">
        <a href="#" class="clients__link">
          <picture>
            <source srcset="img/ultimatecard.avif" type="image/avif">
            <source srcset="img/ultimatecard.webp" type="image/webp">
            <img loading="lazy" src="img/ultimatecard.png" width="152" alt="Ultimatecard">
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
