<section class="experience section-offset">
  <div id="see-more" data-scroll class="container experience__container">
    <div class="experience__tabs tabs" data-tabs="experience-tabs">
      <ul class="tabs__nav" data-aos="fade-down" data-aos-duration="1000">
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Consistent</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Customer oriented</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Innovative</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Business oriented</button></li>
      </ul>
      <div class="tabs__content" data-aos="fade-up" data-aos-duration="1000">
        <div class="tabs__panel">
          <h2 class="tabs__panel-title">We turn the idea of legal services</h2>
          <p class="tabs__panel-text">Consolidating many years of experience and practice, the company's lawyers accompany complex projects
            and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the sea in
            Ukraine.</p>
        </div>
        <div class="tabs__panel">
          <div class="tabs__panel-title">222We turn the idea of legal services</div>
          <p class="tabs__panel-text">222Consolidating many years of experience and practice, the company's lawyers accompany complex
            projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the
            sea in Ukraine.</p>
        </div>
        <div class="tabs__panel">
          <div class="tabs__panel-title">333We turn the idea of legal services</div>
          <p class="tabs__panel-text">333Consolidating many years of experience and practice, the company's lawyers accompany complex
            projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the
            sea in Ukraine.</p>
        </div>
        <div class="tabs__panel">
          <div class="tabs__panel-title">444We turn the idea of legal services</div>
          <p class="tabs__panel-text">444Consolidating many years of experience and practice, the company's lawyers accompany complex
            projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the
            sea in Ukraine.</p>
        </div>
      </div>
    </div>
  </div>
</section>
