<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img loading="lazy" class="logo" src="img/logo-light.svg" class="image" width="130" height="60" alt="Logotype">
    </a>
    <div class="header__right">
      <div class="header__right-info right-info">
        <ul class="list-reset right-info__language-list">
          <li class="right-info__language-item"><a href="#" class="right-info__language__link">Ук</a></li>
          <li class="right-info__language-item"><a href="#" class="right-info__language__link">Ру</a></li>
          <li class="right-info__language-item"><a href="#" class="right-info__language__link">En</a></li>
        </ul>
        <div class="right-info__address">
          Kyiv, Mechnikova str, 14/1
        </div>
        <div class="right-info__tel">
          <a href="tel:0800211927" class="phone">0800 211 927</a>
        </div>
      </div>
      <nav class="nav" title="Main menu">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
          <li class="nav__item"><a href="#" class="nav__link"></a>services</li>
          <li class="nav__item"><a href="#" class="nav__link"></a>team</li>
          <li class="nav__item"><a href="#" class="nav__link"></a>publication</li>
          <li class="nav__item"><a href="#" class="nav__link"></a>contacts</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
