<header class="header">
  <div class="container header__container">
    <div class="header__logo decor">
      <a href="index.html" class="logo">
        <img loading="lazy" src="img/logo-light.svg" class="image" width="130" height="60" alt="Hlegal">
      </a>
      <p class="decor__text">sevices</p>
    </div>
    <div class="header__right">
      <div class="header__right-info right-info">
        <div class="list-reset right-info__language-list">
          <a href="#" class="right-info__language-link" aria-label="Ukrainian language">Ук</a>
          <a href="#" class="right-info__language-link" aria-label="Russian language">Ру</a>
          <a href="#" class="right-info__language-link right-info__language-link--active" aria-label="English language">En</a>
        </div>
        <div class="right-info__address our-address" aria-label="Our address">
          <p>Kyiv, Mechnikova str, 14/1</p>
        </div>
        <a href="tel:0800211927" class="right-info__tel our-tel" aria-label="Our phone">0800 211 927</a>
        <a href="faceboock.com"><svg class="right-info__social" aria-label="Our Facebook page">
            <use xlink:href="img/sprite.svg#fb-header"></use>
          </svg></a>
      </div>
      <nav class="nav" title="Main menu">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link nav-link__active">about us</a></li>
          <li class="nav__item"><a href="services.html" class="nav__link">services</a></li>
          <li class="nav__item"><a href="#" class="nav__link">team</a></li>
          <li class="nav__item"><a href="#" class="nav__link">publication</a></li>
          <li class="nav__item"><a href="#" class="nav__link">contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
