<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="consultation">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
      <img loading="lazy" src="img/close-popup.svg" class="image" width="32" height="32" alt="Close popup">
    </button>
    <div class="graph-modal__content">
      <form action="#" class="form graph-modal__form">
        <h2 class="form__title section-title">We would like to help you</h2>
        <div class="form__top">
          <label class="form__label">
            <input type="text" name="Name" class="input-reset form__input input-name" required placeholder="Name">
          </label>
          <textarea name="Message" class="input-reset form__input form__textarea" placeholder="Message"></textarea>
        </div>
        <div class="form__bottom">
          <h3 class="form__subtitle">How to answer you?</h3>
          <label class="form__label">
            <input type="tel" name="Tel" class="input-reset form__input input-tel" required placeholder="Phone number" pattern="[0-9]{9,12}">
          </label>
          <label class="form__label">
          <input type="email" name="Email" class="input-reset form__input" required placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </label>
        </div>
        <button class="btn-reset btn form__btn">Send message</button>
      </form>
    </div>
  </div>
</div>
