<section class="publications-section section-offset">
  <div class="container publications-section__container">
    <ul class="breadcrumbs publications-section__breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Services</a>
      </li>
    </ul>
    <h2 class="publications-section__title section-title">We have something to tell</h2>
    <div class="publications-section__info">
      <article class="card">
        <div class="card__header">
          <figure class="card__figure">
            <picture>
              <source srcset="img/publication-1.avif" type="image/avif">
              <source srcset="img/publication-1.webp" type="image/webp">
              <img loading="lazy" src="img/publication-1.jpg" class="image card__image" width="513" height="200" alt="Publication-1">
            </picture>
          </figure>
        </div>
        <div class="card__body">
          <h4 class="card__title"><a href="#">Equity associate</a></h4>
          <time class="card__time" datetime="2022-04-22">April 22</time>
          <p class="card__copy">
            I'm a jun on projects. I am a co-owner of a law firm. How it happened. Before entering my parents told me that if I…
          </p>
        </div>
      </article>
      <article class="card">
        <div class="card__header">
          <figure class="card__figure">
            <picture>
              <source srcset="img/publication-2.avif" type="image/avif">
              <source srcset="img/publication-2.webp" type="image/webp">
              <img loading="lazy" src="img/publication-2.jpg" class="image card__image" width="513" height="200" alt="Publication-1">
            </picture>
          </figure>
        </div>
        <div class="card__body">
          <h4 class="card__title"><a href="#">Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR</a></h4>
          <time class="card__time" datetime="2022-09-29">September 29</time>
          <p class="card__copy">And why the recovery of 50 million euros could be a fateful precedent According to Mind.ua January 21 National Commission for
            Data Protection.
          </p>
        </div>
      </article>
      <article class="card">
        <div class="card__header">
          <figure class="card__figure">
            <picture>
              <source srcset="img/publication-3.avif" type="image/avif">
              <source srcset="img/publication-3.webp" type="image/webp">
              <img loading="lazy" src="img/publication-3.jpg" class="image card__image" width="513" height="200" alt="Publication-1">
            </picture>
          </figure>
        </div>
        <div class="card__body">
          <h4 class="card__title"><a href="#">Millennial Testament</a></h4>
          <time class="card__time" datetime="2022-08-19">August 19</time>
          <p class="card__copy">
            What and how modern vloggers, opinion leaders and crypto-millionaires will inherit A typical legacy of the Ukrainian generation
            X looks like this: an apartment in…
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
