<section class="team section-offset">
  <div class="container team__container">
    <div class="swiper team-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__item">
            <div class="swiper-slide__image">
              <picture>
                <source srcset="img/team-1.avif" type="image/avif">
                <source srcset="img/team-1.webp" type="image/webp">
                <img loading="lazy" src="img/team-1.jpg" class="image" width="400" alt="Team image 1">
              </picture>
            </div>
            <div class="swiper-slide__descr">
              <ul class="breadcrumbs swiper-slide__breadcrumbs list-reset">
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Команда</a>
                </li>
              </ul>
              <h3 class="swiper-slide__title section-title"><a href="#">Ми звикли брати на себе відповідальність та завжди гарантуємо чесну,
                  вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</a></h3>
              <div class="swiper-slide__author">Олександр Олександровський</div>
              <div class="swiper-slide__author-post">Керуючий партнер</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__item">
            <div class="swiper-slide__image">
              <picture>
                <source srcset="img/team-2.avif" type="image/avif">
                <source srcset="img/team-2.webp" type="image/webp">
                <img loading="lazy" src="img/team-2.jpg" class="image" width="400" alt="Team image 1">
              </picture>
            </div>
            <div class="swiper-slide__descr">
              <ul class="breadcrumbs swiper-slide__breadcrumbs list-reset">
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Команда</a>
                </li>
              </ul>
              <h3 class="swiper-slide__title section-title"><a href="#">Ми звикли брати на себе відповідальність та завжди гарантуємо чесну,
                  вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</a></h3>
              <div class="swiper-slide__author">Олександр Олександровський</div>
              <div class="swiper-slide__author-post">Керуючий партнер</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__item">
            <div class="swiper-slide__image">
              <picture>
                <source srcset="img/team-3.avif" type="image/avif">
                <source srcset="img/team-3.webp" type="image/webp">
                <img loading="lazy" src="img/team-3.jpg" class="image" width="400" alt="Team image 1">
              </picture>
            </div>
            <div class="swiper-slide__descr">
              <ul class="breadcrumbs swiper-slide__breadcrumbs list-reset">
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Команда</a>
                </li>
              </ul>
              <h3 class="swiper-slide__title section-title"><a href="#">Ми звикли брати на себе відповідальність та завжди гарантуємо чесну,
                  вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</a></h3>
              <div class="swiper-slide__author">Олександр Олександровський</div>
              <div class="swiper-slide__author-post">Керуючий партнер</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__item">
            <div class="swiper-slide__image">
              <picture>
                <source srcset="img/team-4.avif" type="image/avif">
                <source srcset="img/team-4.webp" type="image/webp">
                <img loading="lazy" src="img/team-4.jpg" class="image" width="400" alt="Team image 1">
              </picture>
            </div>
            <div class="swiper-slide__descr">
              <ul class="breadcrumbs swiper-slide__breadcrumbs list-reset">
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Команда</a>
                </li>
              </ul>
              <h3 class="swiper-slide__title section-title"><a href="#">Ми звикли брати на себе відповідальність та завжди гарантуємо чесну,
                  вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</a></h3>
              <div class="swiper-slide__author">Олександр Олександровський</div>
              <div class="swiper-slide__author-post">Керуючий партнер</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__item">
            <div class="swiper-slide__image">
              <picture>
                <source srcset="img/team-5.avif" type="image/avif">
                <source srcset="img/team-5.webp" type="image/webp">
                <img loading="lazy" src="img/team-5.jpg" class="image" width="400" alt="Team image 1">
              </picture>
            </div>
            <div class="swiper-slide__descr">
              <ul class="breadcrumbs swiper-slide__breadcrumbs list-reset">
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Команда</a>
                </li>
              </ul>
              <h3 class="swiper-slide__title section-title"><a href="#">Ми звикли брати на себе відповідальність та завжди гарантуємо чесну,
                  вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</a></h3>
              <div class="swiper-slide__author">Олександр Олександровський</div>
              <div class="swiper-slide__author-post">Керуючий партнер</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__item">
            <div class="swiper-slide__image">
              <picture>
                <source srcset="img/team-6.avif" type="image/avif">
                <source srcset="img/team-6.webp" type="image/webp">
                <img loading="lazy" src="img/team-6.jpg" class="image" width="400" alt="Team image 1">
              </picture>
            </div>
            <div class="swiper-slide__descr">
              <ul class="breadcrumbs swiper-slide__breadcrumbs list-reset">
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Команда</a>
                </li>
              </ul>
              <h3 class="swiper-slide__title section-title"><a href="#">Ми звикли брати на себе відповідальність та завжди гарантуємо чесну,
                  вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.</a></h3>
              <div class="swiper-slide__author">Олександр Олександровський</div>
              <div class="swiper-slide__author-post">Керуючий партнер</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
