.background {
  position: relative;
  border-radius: 0px 0px 12px 12px;
  background: var(--color-garient-supersoft);
  padding-bottom: 30px;
}

.shadow {
  img {
    width: 100%;
  }
}

.section-offset {
  margin-bottom: 60px;
}

.section-title {
  font-weight: 700;
  font-size: var(--title-hero-fz);
  line-height: 46px;
  color: var(--color-accent);

  @include mobile {
    font-size: 30px;
    line-height: 37px;
  }
}

.our-address {
  position: relative;
  margin-right: 18px;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text);
  &--dark {
    color: var(--color-main);
  }
  &--light {
    color: var(--color-light);
  }
  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 6px;
    right: -12px;
    background-color: var(--color-separator);
  }
  @include mobile {
    margin-right: 0;
  }
}

.our-tel {
  position: relative;
  margin-right: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text);
  &--dark {
    color: var(--color-main);
  }
  &--light {
    color: var(--color-light);
  }
  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 6px;
    right: -12px;
    background-color: var(--color-separator);
    cursor: auto;
  }
  @include mobile {
    margin-right: 0;
    &::after {
      display: none;
    }
  }
}

.our-email {
  font-weight: 700;
  line-height: 20px;
  color: var(--color-active-regular);
  transition: ease-in-out 0.2s;
  &:hover {
    color: var(--color-accent);
  }
}

.background-gray {
  background-color: var(--color-bg);
}

.btn {
  padding: 18px 30px;
  font-weight: 700;
  line-height: 20px;
  color: var(--color-light);
  background: var(--color-active-regular);
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  transition: background 0.2s;
  &:hover {
    background: var(--color-active-hover);
  }
  &:active {
    background: var(--color-active);
  }
}
